In [3]:
import pandas as pd

In [25]:
df = pd.read_csv('yellow_tripdata_2021-01.csv', nrows=100)

In [31]:
df.tail()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge
95,2,2021-01-01 00:12:41,2021-01-01 00:26:47,1,4.13,1,N,161,226,1,14.5,0.5,0.5,3.66,0.0,0.3,21.96,2.5
96,2,2021-01-01 00:23:29,2021-01-01 00:35:03,2,4.12,1,N,162,74,2,13.5,0.5,0.5,0.00,0.0,0.3,17.30,2.5
97,2,2021-01-01 00:46:17,2021-01-01 00:54:25,2,2.22,1,N,144,170,1,9.0,0.5,0.5,2.56,0.0,0.3,15.36,2.5
98,2,2021-01-01 00:28:16,2021-01-01 00:51:44,1,7.11,1,N,264,264,2,23.5,0.5,0.5,0.00,0.0,0.3,24.80,0.0
99,2,2021-01-01 00:42:35,2021-01-01 00:54:41,3,1.61,1,N,229,237,2,9.5,0.5,0.5,0.00,0.0,0.3,13.30,2.5

In [32]:
df.reset_index(inplace=True)

In [33]:
pd.io.sql.get_schema(df, name='yellow_taxi')

'CREATE TABLE "yellow_taxi" (\n"index" INTEGER,\n  "VendorID" INTEGER,\n  "tpep_pickup_datetime" TIMESTAMP,\n  "tpep_dropoff_datetime" TIMESTAMP,\n  "passenger_count" INTEGER,\n  "trip_distance" REAL,\n  "RatecodeID" INTEGER,\n  "store_and_fwd_flag" TEXT,\n  "PULocationID" INTEGER,\n  "DOLocationID" INTEGER,\n  "payment_type" INTEGER,\n  "fare_amount" REAL,\n  "extra" REAL,\n  "mta_tax" REAL,\n  "tip_amount" REAL,\n  "tolls_amount" REAL,\n  "improvement_surcharge" REAL,\n  "total_amount" REAL,\n  "congestion_surcharge" REAL\n)'

In [29]:
df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

In [30]:
pd.io.sql.get_schema(df, name='yellow_taxi')

'CREATE TABLE "yellow_taxi" (\n"VendorID" INTEGER,\n  "tpep_pickup_datetime" TIMESTAMP,\n  "tpep_dropoff_datetime" TIMESTAMP,\n  "passenger_count" INTEGER,\n  "trip_distance" REAL,\n  "RatecodeID" INTEGER,\n  "store_and_fwd_flag" TEXT,\n  "PULocationID" INTEGER,\n  "DOLocationID" INTEGER,\n  "payment_type" INTEGER,\n  "fare_amount" REAL,\n  "extra" REAL,\n  "mta_tax" REAL,\n  "tip_amount" REAL,\n  "tolls_amount" REAL,\n  "improvement_surcharge" REAL,\n  "total_amount" REAL,\n  "congestion_surcharge" REAL\n)'

In [8]:
from sqlalchemy import create_engine

In [9]:
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')

In [11]:
print(pd.io.sql.get_schema(df, name='yellow_taxi', con=engine))

CREATE TABLE yellow_taxi (
	"VendorID" BIGINT,
	tpep_pickup_datetime TIMESTAMP WITHOUT TIME ZONE,
	tpep_dropoff_datetime TIMESTAMP WITHOUT TIME ZONE,
	passenger_count BIGINT,
	trip_distance FLOAT(53),
	"RatecodeID" BIGINT,
	store_and_fwd_flag TEXT,
	"PULocationID" BIGINT,
	"DOLocationID" BIGINT,
	payment_type BIGINT,
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	congestion_surcharge FLOAT(53)
)

In [12]:
# Create a table. Don't insert any data

In [49]:
df_iter = pd.read_csv('yellow_tripdata_2021-01.csv', iterator=True, chunksize=100000)

In [50]:
df = next(df_iter)

In [51]:
df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

In [52]:
df.reset_index(inplace=True)

In [53]:
df.head()

,index,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge
0,0,1,2021-01-01 00:30:10,2021-01-01 00:36:12,1,2.10,1,N,142,43,2,8.0,3.0,0.5,0.00,0.0,0.3,11.80,2.5
1,1,1,2021-01-01 00:51:20,2021-01-01 00:52:19,1,0.20,1,N,238,151,2,3.0,0.5,0.5,0.00,0.0,0.3,4.30,0.0
2,2,1,2021-01-01 00:43:30,2021-01-01 01:11:06,1,14.70,1,N,132,165,1,42.0,0.5,0.5,8.65,0.0,0.3,51.95,0.0
3,3,1,2021-01-01 00:15:48,2021-01-01 00:31:01,0,10.60,1,N,138,132,1,29.0,0.5,0.5,6.05,0.0,0.3,36.35,0.0
4,4,2,2021-01-01 00:31:49,2021-01-01 00:48:21,1,4.94,1,N,68,33,1,16.5,0.5,0.5,4.06,0.0,0.3,24.36,2.5

In [54]:
df.head(n=0).to_sql(name="yellow_taxi_data", con=engine, if_exists="replace")

0

In [55]:
%time df.to_sql(name="yellow_taxi_data", con=engine, if_exists="append")

CPU times: user 8.42 s, sys: 49 ms, total: 8.47 s
Wall time: 13.8 s

1000

In [23]:
from time import time

In [56]:
while True:
    t_start = time()
    df = next(df_iter)
    df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
    df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)
    df.reset_index(inplace=True)
    df.to_sql(name="yellow_taxi_data", con=engine, if_exists="append")
    t_end = time()
    print("Inserted a chunk..., took %.3f seconds" % (t_end-t_start))

Inserted a chunk..., took 15.423 seconds
Inserted a chunk..., took 13.609 seconds
Inserted a chunk..., took 14.396 seconds
Inserted a chunk..., took 16.452 seconds
Inserted a chunk..., took 15.203 seconds
Inserted a chunk..., took 12.919 seconds
Inserted a chunk..., took 13.110 seconds
Inserted a chunk..., took 21.396 seconds
Inserted a chunk..., took 18.448 seconds
Inserted a chunk..., took 13.194 seconds
Inserted a chunk..., took 12.599 seconds

/tmp/ipykernel_19903/4226577714.py:3: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  df = next(df_iter)

Inserted a chunk..., took 13.162 seconds
Inserted a chunk..., took 8.370 seconds

StopIteration:

In [1]:
import os

In [2]:
os.system('wget https://github.com/DataTalksClub/nyc-tlc-data/releases/download/misc/taxi_zone_lookup.csv -O zones_output.csv')

--2025-01-27 19:32:37--  https://github.com/DataTalksClub/nyc-tlc-data/releases/download/misc/taxi_zone_lookup.csv
Resolving github.com (github.com)... 20.26.156.215
Connecting to github.com (github.com)|20.26.156.215|:443... connected.
302 Foundest sent, awaiting response...
Location: https://objects.githubusercontent.com/github-production-release-asset-2e65be/513814948/5a2cc2f5-b4cd-4584-9c62-a6ea97ed0e6a?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=releaseassetproduction%2F20250127%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20250127T193237Z&X-Amz-Expires=300&X-Amz-Signature=09b8579c11d11a26ea2a3235eb78ac8b5b5270980ce30628658404fcef6f1194&X-Amz-SignedHeaders=host&response-content-disposition=attachment%3B%20filename%3Dtaxi_zone_lookup.csv&response-content-type=application%2Foctet-stream [following]
--2025-01-27 19:32:37--  https://objects.githubusercontent.com/github-production-release-asset-2e65be/513814948/5a2cc2f5-b4cd-4584-9c62-a6ea97ed0e6a?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=releaseassetproduction%2F20250127%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20250127T193237Z&X-Amz-Expires=300&X-Amz-Signature=09b8579c11d11a26ea2a3235eb78ac8b5b5270980ce30628658404fcef6f1194&X-Amz-SignedHeaders=host&response-content-disposition=attachment%3B%20filename%3Dtaxi_zone_lookup.csv&response-content-type=application%2Foctet-stream
Resolving objects.githubusercontent.com (objects.githubusercontent.com)... 185.199.109.133, 185.199.110.133, 185.199.111.133, ...
Connecting to objects.githubusercontent.com (objects.githubusercontent.com)|185.199.109.133|:443... connected.
200 OKequest sent, awaiting response...
Length: 12322 (12K) [application/octet-stream]
Saving to: ‘zones_output.csv’

     0K .......... ..                                         100% 11.7M=0.001s

2025-01-27 19:32:37 (11.7 MB/s) - ‘zones_output.csv’ saved [12322/12322]

0

In [4]:
df = pd.read_csv('zones_output.csv', nrows=100)

In [7]:
df.tail()

    LocationID        Borough                       Zone service_zone
95          96         Queens  Forest Park/Highland Park    Boro Zone
96          97       Brooklyn                Fort Greene    Boro Zone
97          98         Queens              Fresh Meadows    Boro Zone
98          99  Staten Island            Freshkills Park    Boro Zone
99         100      Manhattan           Garment District  Yellow Zone

In [6]:
pd.io.sql.get_schema(df, name='zones')

'CREATE TABLE "zones" (\n"LocationID" INTEGER,\n  "Borough" TEXT,\n  "Zone" TEXT,\n  "service_zone" TEXT\n)'

In [10]:
print(pd.io.sql.get_schema(df, name='zones', con=engine))

CREATE TABLE zones (
	"LocationID" BIGINT,
	"Borough" TEXT,
	"Zone" TEXT,
	service_zone TEXT
)

In [11]:
# wget https://github.com/DataTalksClub/nyc-tlc-data/releases/download/green/green_tripdata_2019-10.csv.gz

In [15]:
os.system('wget https://github.com/DataTalksClub/nyc-tlc-data/releases/download/green/green_tripdata_2019-10.csv.gz -O green_taxi_output.csv.gz')

--2025-01-27 20:40:10--  https://github.com/DataTalksClub/nyc-tlc-data/releases/download/green/green_tripdata_2019-10.csv.gz
Resolving github.com (github.com)... 20.26.156.215
Connecting to github.com (github.com)|20.26.156.215|:443... connected.
302 Foundest sent, awaiting response...
Location: https://objects.githubusercontent.com/github-production-release-asset-2e65be/513814948/ea580e9e-555c-4bd0-ae73-43051d8e7c0b?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=releaseassetproduction%2F20250127%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20250127T204011Z&X-Amz-Expires=300&X-Amz-Signature=8af67104c3824a75078d194b6bcdc6c8ad52c25784e73a102320e6c168ebd5bb&X-Amz-SignedHeaders=host&response-content-disposition=attachment%3B%20filename%3Dgreen_tripdata_2019-10.csv.gz&response-content-type=application%2Foctet-stream [following]
--2025-01-27 20:40:11--  https://objects.githubusercontent.com/github-production-release-asset-2e65be/513814948/ea580e9e-555c-4bd0-ae73-43051d8e7c0b?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=releaseassetproduction%2F20250127%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20250127T204011Z&X-Amz-Expires=300&X-Amz-Signature=8af67104c3824a75078d194b6bcdc6c8ad52c25784e73a102320e6c168ebd5bb&X-Amz-SignedHeaders=host&response-content-disposition=attachment%3B%20filename%3Dgreen_tripdata_2019-10.csv.gz&response-content-type=application%2Foctet-stream
Resolving objects.githubusercontent.com (objects.githubusercontent.com)... 185.199.109.133, 185.199.108.133, 185.199.110.133, ...
Connecting to objects.githubusercontent.com (objects.githubusercontent.com)|185.199.109.133|:443... connected.
200 OKequest sent, awaiting response...
Length: 8262584 (7.9M) [application/octet-stream]
Saving to: ‘green_taxi_output.csv.gz’

     0K .......... .......... .......... .......... ..........  0% 2.33M 3s
    50K .......... .......... .......... .......... ..........  1% 4.65M 3s
   100K .......... .......... .......... .......... ..........  1% 12.5M 2s
   150K .......... .......... .......... .......... ..........  2% 12.7M 2s
   200K .......... .......... .......... .......... ..........  3% 7.58M 1s
   250K .......... .......... .......... .......... ..........  3% 10.6M 1s
   300K .......... .......... .......... .......... ..........  4% 16.2M 1s
   350K .......... .......... .......... .......... ..........  4% 11.5M 1s
   400K .......... .......... .......... .......... ..........  5% 21.9M 1s
   450K .......... .......... .......... .......... ..........  6% 14.9M 1s
   500K .......... .......... .......... .......... ..........  6% 16.4M 1s
   550K .......... .......... .......... .......... ..........  7% 3.57M 1s
   600K .......... .......... .......... .......... ..........  8% 19.4M 1s
   650K .......... .......... .......... .......... ..........  8% 16.0M 1s
   700K .......... .......... .......... .......... ..........  9% 15.2M 1s
   750K .......... .......... .......... .......... ..........  9% 15.0M 1s
   800K .......... .......... .......... .......... .......... 10% 14.2M 1s
   850K .......... .......... .......... .......... .......... 11% 15.5M 1s
   900K .......... .......... .......... .......... .......... 11% 15.3M 1s
   950K .......... .......... .......... .......... .......... 12% 19.9M 1s
  1000K .......... .......... .......... .......... .......... 13% 15.2M 1s
  1050K .......... .......... .......... .......... .......... 13% 13.3M 1s
  1100K .......... .......... .......... .......... .......... 14% 15.4M 1s
  1150K .......... .......... .......... .......... .......... 14% 16.0M 1s
  1200K .......... .......... .......... .......... .......... 15% 5.59M 1s
  1250K .......... .......... .......... .......... .......... 16% 11.2M 1s
  1300K .......... .......... .......... .......... .......... 16% 14.6M 1s
  1350K .......... .......... .......... .......... .......... 17% 15.0M 1s
  1400K .......... .......... .......... .......... .......... 17% 21.0M 1s
  1450K .......... .......... .......... .......... .......... 18% 16.1M 1s
  1500K .......... .......... .......... .......... .......... 19% 13.9M 1s
  1550K .......... .......... .......... .......... .......... 19% 11.9M 1s
  1600K .......... .......... .......... .......... .......... 20% 22.1M 1s
  1650K .......... .......... .......... .......... .......... 21% 14.0M 1s
  1700K .......... .......... .......... .......... .......... 21% 10.7M 1s
  1750K .......... .......... .......... .......... .......... 22% 5.32M 1s
  1800K .......... .......... .......... .......... .......... 22%  142M 1s
  1850K .......... .......... .......... .......... .......... 23% 65.9M 1s
  1900K .......... .......... .......... .......... .......... 24% 8.53M 1s
  1950K .......... .......... .......... .......... .......... 24% 51.6M 1s
  2000K .......... .......... .......... .......... .......... 25% 10.6M 1s
  2050K .......... .......... .......... .......... .......... 26% 21.4M 1s
  2100K .......... .......... .......... .......... .......... 26% 20.4M 1s
  2150K .......... .......... .......... .......... .......... 27% 16.7M 1s
  2200K .......... .......... .......... .......... .......... 27% 9.98M 1s
  2250K .......... .......... .......... .......... .......... 28%  134M 0s
  2300K .......... .......... .......... .......... .......... 29% 16.5M 0s
........ .......... 29% 9.57M 0s........ ..
  2400K .......... .......... .......... .......... .......... 30%  151M 0s
  2450K .......... .......... .......... .......... .......... 30% 8.99M 0s
  2500K .......... .......... .......... .......... .......... 31%  121M 0s
  2550K .......... .......... .......... .......... .......... 32% 12.7M 0s
  2600K .......... .......... .......... .......... .......... 32% 16.3M 0s
  2650K .......... .......... .......... .......... .......... 33%  149M 0s
  2700K .......... .......... .......... .......... .......... 34% 17.9M 0s
  2750K .......... .......... .......... .......... .......... 34% 8.98M 0s
  2800K .......... .......... .......... .......... .......... 35% 14.3M 0s
  2850K .......... .......... .......... .......... .......... 35% 11.9M 0s
  2900K .......... .......... .......... .......... .......... 36% 80.8M 0s
  2950K .......... .......... .......... .......... .......... 37% 32.6M 0s
  3000K .......... .......... .......... .......... .......... 37% 15.8M 0s
  3050K .......... .......... .......... .......... .......... 38% 25.8M 0s
  3100K .......... .......... .......... .......... .......... 39% 7.88M 0s
  3150K .......... .......... .......... .......... .......... 39%  128M 0s
  3200K .......... .......... .......... .......... .......... 40% 21.1M 0s
  3250K .......... .......... .......... .......... .......... 40% 11.7M 0s
  3300K .......... .......... .......... .......... .......... 41% 49.5M 0s
  3350K .......... .......... .......... .......... .......... 42% 20.7M 0s
  3400K .......... .......... .......... .......... .......... 42% 7.07M 0s
  3450K .......... .......... .......... .......... .......... 43% 50.7M 0s
  3500K .......... .......... .......... .......... .......... 43% 16.9M 0s
  3550K .......... .......... .......... .......... .......... 44% 11.2M 0s
  3600K .......... .......... .......... .......... .......... 45% 27.0M 0s
  3650K .......... .......... .......... .......... .......... 45%  592K 0s
  3700K .......... .......... .......... .......... .......... 46% 24.2M 0s
  3750K .......... .......... .......... .......... .......... 47% 22.5M 0s
  3800K .......... .......... .......... .......... .......... 47%  120M 0s
  3850K .......... .......... .......... .......... .......... 48%  137M 0s
  3900K .......... .......... .......... .......... .......... 48%  126M 0s
  3950K .......... .......... .......... .......... .......... 49%  112M 0s
  4000K .......... .......... .......... .......... .......... 50%  129M 0s
  4050K .......... .......... .......... .......... .......... 50%  145M 0s
  4100K .......... .......... .......... .......... .......... 51%  165M 0s
  4150K .......... .......... .......... .......... .......... 52% 51.5M 0s
  4200K .......... .......... .......... .......... .......... 52% 15.3M 0s
  4250K .......... .......... .......... .......... .......... 53% 23.8M 0s
  4300K .......... .......... .......... .......... .......... 53% 49.8M 0s
  4350K .......... .......... .......... .......... .......... 54% 8.14M 0s
  4400K .......... .......... .......... .......... .......... 55% 21.3M 0s
  4450K .......... .......... .......... .......... .......... 55% 46.4M 0s
  4500K .......... .......... .......... .......... .......... 56%  149M 0s
  4550K .......... .......... .......... .......... .......... 57%  136M 0s
  4600K .......... .......... .......... .......... .......... 57%  136M 0s
  4650K .......... .......... .......... .......... .......... 58%  181M 0s
  4700K .......... .......... .......... .......... .......... 58% 3.23M 0s
  4750K .......... .......... .......... .......... .......... 59% 40.9M 0s
  4800K .......... .......... .......... .......... .......... 60% 27.1M 0s
...... 60% 6.47M 0s.......... .......... .......... ....
  4900K .......... .......... .......... .......... .......... 61% 41.9M 0s
  4950K .......... .......... .......... .......... .......... 61% 25.4M 0s
  5000K .......... .......... .......... .......... .......... 62% 55.5M 0s
  5050K .......... .......... .......... .......... .......... 63% 17.5M 0s
  5100K .......... .......... .......... .......... .......... 63% 12.7M 0s
  5150K .......... .......... .......... .......... .......... 64%  117M 0s
  5200K .......... .......... .......... .......... .......... 65% 94.1M 0s
  5250K .......... .......... .......... .......... .......... 65%  129M 0s
  5300K .......... .......... .......... .......... .......... 66%  148M 0s
  5350K .......... .......... .......... .......... .......... 66% 84.5M 0s
  5400K .......... .......... .......... .......... .......... 67%  161M 0s
  5450K .......... .......... .......... .......... .......... 68%  169M 0s
  5500K .......... .......... .......... .......... .......... 68% 87.9M 0s
  5550K .......... .......... .......... .......... .......... 69%  142M 0s
  5600K .......... .......... .......... .......... .......... 70%  101M 0s
  5650K .......... .......... .......... .......... .......... 70%  184M 0s
  5700K .......... .......... .......... .......... .......... 71%  183M 0s
  5750K .......... .......... .......... .......... .......... 71%  108M 0s
  5800K .......... .......... .......... .......... .......... 72%  181M 0s
  5850K .......... .......... .......... .......... .......... 73%  174M 0s
  5900K .......... .......... .......... .......... .......... 73%  100M 0s
  5950K .......... .......... .......... .......... .......... 74%  203M 0s
  6000K .......... .......... .......... .......... .......... 74% 58.7M 0s
  6050K .......... .......... .......... .......... .......... 75% 13.2M 0s
  6100K .......... .......... .......... .......... .......... 76% 11.6M 0s
  6150K .......... .......... .......... .......... .......... 76% 16.0M 0s
  6200K .......... .......... .......... .......... .......... 77% 14.7M 0s
  6250K .......... .......... .......... .......... .......... 78% 14.5M 0s
  6300K .......... .......... .......... .......... .......... 78% 23.9M 0s
  6350K .......... .......... .......... .......... .......... 79% 12.4M 0s
  6400K .......... .......... .......... .......... .......... 79% 15.3M 0s
  6450K .......... .......... .......... .......... .......... 80% 8.19M 0s
  6500K .......... .......... .......... .......... .......... 81% 90.4M 0s
  6550K .......... .......... .......... .......... .......... 81% 5.00M 0s
  6600K .......... .......... .......... .......... .......... 82% 7.55M 0s
  6650K .......... .......... .......... .......... .......... 83% 13.6M 0s
  6700K .......... .......... .......... .......... .......... 83% 12.5M 0s
  6750K .......... .......... .......... .......... .......... 84% 12.6M 0s
  6800K .......... .......... .......... .......... .......... 84% 15.9M 0s
  6850K .......... .......... .......... .......... .......... 85% 23.4M 0s
  6900K .......... .......... .......... .......... .......... 86% 13.9M 0s
  6950K .......... .......... .......... .......... .......... 86% 16.8M 0s
  7000K .......... .......... .......... .......... .......... 87% 12.3M 0s
  7050K .......... .......... .......... .......... .......... 87% 22.2M 0s
  7100K .......... .......... .......... .......... .......... 88% 14.3M 0s
  7150K .......... .......... .......... .......... .......... 89% 15.0M 0s
  7200K .......... .......... .......... .......... .......... 89% 15.6M 0s
  7250K .......... .......... .......... .......... .......... 90% 14.6M 0s
  7300K .......... .......... .......... .......... .......... 91% 15.5M 0s
  7350K .......... .......... .......... .......... .......... 91% 21.4M 0s
  7400K .......... .......... .......... .......... .......... 92% 15.4M 0s
  7450K .......... .......... .......... .......... .......... 92% 9.79M 0s
  7500K .......... .......... .......... .......... .......... 93% 12.5M 0s
  7550K .......... .......... .......... .......... .......... 94% 16.8M 0s
  7600K .......... .......... .......... .......... .......... 94% 15.2M 0s
  7650K .......... .......... .......... .......... .......... 95% 15.4M 0s
  7700K .......... .......... .......... .......... .......... 96% 21.5M 0s
  7750K .......... .......... .......... .......... .......... 96% 15.3M 0s
  7800K .......... .......... .......... .......... .......... 97% 15.5M 0s
  7850K .......... .......... .......... .......... .......... 97% 15.3M 0s
  7900K .......... .......... .......... .......... .......... 98% 13.5M 0s
  7950K .......... .......... .......... .......... .......... 99% 12.1M 0s
  8000K .......... .......... .......... .......... .......... 99% 18.0M 0s
  8050K .......... ........                                   100%  103M=0.6s

2025-01-27 20:40:12 (13.9 MB/s) - ‘green_taxi_output.csv.gz’ saved [8262584/8262584]

0

In [16]:
df = pd.read_csv('green_taxi_output.csv.gz', nrows=100)

In [17]:
df.head()

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,extra,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge
0,2,2019-10-01 00:26:02,2019-10-01 00:39:58,N,1,112,196,1,5.88,18.0,0.50,0.5,0.00,0.0,NaN,0.3,19.30,2,1,0.0
1,1,2019-10-01 00:18:11,2019-10-01 00:22:38,N,1,43,263,1,0.80,5.0,3.25,0.5,0.00,0.0,NaN,0.3,9.05,2,1,0.0
2,1,2019-10-01 00:09:31,2019-10-01 00:24:47,N,1,255,228,2,7.50,21.5,0.50,0.5,0.00,0.0,NaN,0.3,22.80,2,1,0.0
3,1,2019-10-01 00:37:40,2019-10-01 00:41:49,N,1,181,181,1,0.90,5.5,0.50,0.5,0.00,0.0,NaN,0.3,6.80,2,1,0.0
4,2,2019-10-01 00:08:13,2019-10-01 00:17:56,N,1,97,188,1,2.52,10.0,0.50,0.5,2.26,0.0,NaN,0.3,13.56,1,1,0.0